@import'vars';
header{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    padding: 36px 10px;
    font-size: 12px;
    color: #000000;
    &:hover,
    &.active{
      color:$color-blue ;
      border-bottom: 3px solid $color-blue ;
    }
    img{
      width: 75px;
    };
  };
  ul{
    display: flex;
  };
}